@font-face {
    font-family: "NorseBold";
    src: url("./Norse-Bold.otf");
}

body {
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    height: 100%;
    width: 85%;
    margin: 0 auto;
}

.left-container {
    background: url(./space.jpeg);
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.logo {
    background-color: rgba(0, 0, 0, .6);
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}

.logo>img {
    width: 100px;
    height: 100px;
}

.logo-text {
    height: 50px;
    font-size: 64px;
    font-family: "NorseBold", 'Arial', sans-serif;

}

.copyright {
    text-align: center;
    font-size: 12px;
    margin-bottom: 2%;

}

.right-container {
    background-color: #F9FAFB;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.parent-container {
    display: flex;
    flex-direction: column;
    /* padding: 0 15px; */
}

button[type="submit"] {
    background-color: #596D48;
    font-size: 16px;
    width: 200px;
    color: white;
    padding: 11px;
    border-radius: 10px;
    margin: 20px 0 0 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

a.copyright,
a.copyright:active,
a.copyright:visited {
    color: white;

}

.account-text {
    margin-left: 40px;

}

.login-text {
    color: #596D48;
    text-decoration: none;
}

.text-container {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: .3px;
    padding-left: 40px;
    max-width: 80%;
    margin-bottom: 18px;
}

.form-container {
    height: 260px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding-left: 40px;


    -webkit-box-shadow: 0px 6px 6px 2px rgba(235, 236, 237, 0.77);
    -moz-box-shadow: 0px 6px 6px 2px rgba(235, 236, 237, 0.77);
    box-shadow: 0px 6px 6px 2px rgba(235, 236, 237, 0.77);
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;
}

.input-group {
    display: flex;
    gap: 50px;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #E5E7EB;
    padding: 6px;
    width: 260px;
    border-radius: 5px;
  
}

input:focus {
    border: #005073;
    -webkit-box-shadow: 8px 7px 5px -1px rgba(130, 122, 130, 1);
    -moz-box-shadow: 8px 7px 5px -1px rgba(130, 122, 130, 1);
    box-shadow: 8px 7px 5px -1px rgba(130, 122, 130, 1);
}

.error {
    border: 1px solid red;
}

.error-text{
    color: red;
    font-size: 10px;
    margin: 0;
}

label {
    font-size: 10px;
    letter-spacing: .1rem;
}